$light-blue: #EFF7FA;
$semi-black: rgba(black, 0.8);
$light-black: rgba(black, 0.1);
$very-light-black: rgba(black, 0.03);
$off-white: rgba(black,0.4);
$light-green: #D2F6E4;
$semi-orange: #f44336;
$nav-shadow: 1px 1px 4px $light-black;
$border-radius: 5px;
$smooth-transition: 0.2s;
$rounded-radius: 50%;
$semi-red: #ED4956;
$error-red: rgb(237, 73, 86);
$success-green: #46C93A;
$semi-white: rgba(white, 0.91);
