<mat-drawer-container class="example-container" autosize style="height: 100vh">
  <mat-drawer #drawer class="example-sidenav" mode="push" position="end">
    <p class="p-3">Cart List</p>
    <hr>
    <div class="col-12">
      <div *ngFor="let product of (cartList$ | async)">
        <img [src]="product?.image" class="small-image" [alt]="product?.name">
      </div>
    </div>
  </mat-drawer>
  <!--  PHONE SIDE NAV  -->
  <div class="mobile-navigator" id="mobile-navigator" *ngIf="phoneSideNavToggle" [@translateAndScale]>
    <div class="upper-part">
      <span class="close-icon" (click)="togglePhoneSideNav()" matRipple>
        <i class="fal fa-times"></i>
      </span>
    </div>
    <p class="store-name">PizzaClub</p>
    <div class="separator"></div>
    <div class="side-body">
      <a class="side-navigator">
        <i class="fal fa-user"></i> <span class="ml-2">Admin</span>
      </a>
      <a class="side-navigator">
        <i class="fal fa-shopping-bag"></i> <span class="ml-2">Shop</span>
      </a>
    </div>
  </div>

  <div class="example-sidenav-content">
    <div class="container-fluid">
      <div class="pizza-nav">
        <p class="store-name">PizzaClub</p>
        <ul class="nav-routes">
          <li><a class="route" [routerLink]="['/admin']"><i class="fal fa-user"></i> <span class="ml-2">Admin</span></a>
          </li>
          <li><a class="route" [routerLink]="['/shop']"><i class="fal fa-shopping-bag"></i> <span
            class="ml-2">Shop</span></a></li>
        </ul>
        <div class="cart">
          <button type="button" mat-button (click)="drawer.toggle()">
            <i class="fal fa-shopping-cart"></i>
            <span class="my-cart">My Cart</span>
          </button>
          <div class="phone-bars d-block d-lg-none" matRipple (click)="togglePhoneSideNav()">
            <i class="fal fa-bars"></i>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- Routes goes here -->
  <router-outlet></router-outlet>
</mat-drawer-container>
